</main>
<footer>
    <p> &copy; 2024 Adopt a Pet. All rights reserved. 
        <a href="/privacy">Privacy/Disclaimer Statement</a>. 
        <a href="/attribution">Image attribution</a>. 
    </p>
</footer>
</body>
</html>