<link rel="stylesheet" href="/css/styles.css">
<div class="container">
    <nav class="side-menu">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/pets">Find a Cat/Dog</a></li>
            <li><a href="/dogcare">Dog Care</a></li>
            <li><a href="/catcare">Cat Care</a></li>
            <li><a href="/createaccount">Create an Account</a></li>
            <li><a href="/giveaway">Have a Pet to Give Away?</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="content">
        <p class="attribution">
            <a href=
            "https://stock.adobe.com/ca/images/monoline-pet-house-logo%2C-animal-store-logo-design/334701506?as_content=tineye_match&clickref=1100lyLAtF5A&mv=affiliate&mv2=pz&as_camptype=backlink&as_channel=affiliate&as_source=partnerize&as_campaign=tineye" target="_blank">Logo</a>.
            <a href=
            "https://www.shutterstock.com/image-photo/happy-young-golden-retriever-dog-cute-1544993138" target="_blank">Page background</a>.
        </p>
    </div>
</div>