<link rel="stylesheet" href="/css/styles.css">
<div class="container">
    <nav class="side-menu">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/pets">Find a Cat/Dog</a></li>
            <li><a href="/dogcare">Dog Care</a></li>
            <li><a href="/catcare" class="active">Cat Care</a></li>
            <li><a href="/createaccount">Create an Account</a></li>
            <li><a href="/giveaway">Have a Pet to Give Away?</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    
    <div class="content">
        <table class="catcare">
            <tr>
                <td><a href="https://www.aspca.org/pet-care/cat-care/general-cat-care" target="_blank">General Cat Care</a></td>
                <td><a href="https://vcacanada.com/know-your-pet/nutrition-feeding-guidelines-for-cats"target="_blank">Feeding Guidelines</a></td>
            </tr>
            <tr>
                <td><a href="https://www.aspca.org/pet-care/cat-care/cat-grooming-tips"target="_blank">Cat Grooming Tips</a></td>
                <td><a href="https://www.webmd.com/pets/cats/default.htm"target="_blank">Cat Health Centre</a></td>
            </tr>
        </table>
    </div>
</div>