<link rel="stylesheet" href="/css/styles.css">
<div class="container">
    <nav class="side-menu">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/pets">Find a Cat/Dog</a></li>
            <li><a href="/dogcare" class="active">Dog Care</a></li>
            <li><a href="/catcare">Cat Care</a></li>
            <li><a href="/createaccount">Create an Account</a></li>
            <li><a href="/giveaway">Have a Pet to Give Away?</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    
    <div class="content">
        <table class="dogcare">
            <tr>
                <td>
                    <a href="https://www.aspca.org/pet-care/dog-care/general-dog-care" target="_blank">General Dog Care</a>
                </td>
                <td>
                    <a href="https://vcacanada.com/know-your-pet/nutrition-general-feeding-guidelines-for-dogs" target="_blank">Feeding Guidelines</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.aspca.org/pet-care/dog-care/dog-grooming-tips" target="_blank">Dog Grooming Tips</a>
                </td>
                <td>
                    <a href="https://www.webmd.com/pets/dogs/default.htm" target="_blank">Dog Health Centre</a>
                </td>
            </tr>
        </table>
    </div>
</div>