<link rel="stylesheet" href="/css/styles.css">
<div class="container">
    <nav class="side-menu">
        <ul>
            <li><a href="/" class="active">Homepage</a></li>
            <li><a href="/pets">Find a Cat/Dog</a></li>
            <li><a href="/dogcare">Dog Care</a></li>
            <li><a href="/catcare">Cat Care</a></li>
            <li><a href="/createaccount">Create an Account</a></li>
            <li><a href="/giveaway">Have a Pet to Give Away?</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    
    <div class="content">
        <p style="color: #f9f5f2; font-size: 65px; text-align: center; vertical-align: middle;">
            <ins>Welcome</ins>!
        </p>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get("message");
            if (message) {
                alert(message);
            }
        });
</script>